<footer>
    <div class="container">
        
        <div class="row">
            <div class="col-sm-4">
                <ul class="menu">
                    <li><a href="{{baseUrl}}/team">Team</a></li>
                   <!--  <li><a href="javascript:void(0);">News</a></li> -->
                    <li><a href="{{baseUrl}}#about-us" target="_blank">About us</a></li>
                    <li><a href="{{baseUrl}}/contact">Contact us</a></li>
                     <li><a href="{{baseUrl}}/faq">FAQ</a></li>
                </ul>
            </div>
            
            <div class="col-sm-8">
               <!-- <ul class="menu-2">
                    <li><a href="javascript:void(0);">Privacy Policy</a></li>
                    <li><a href="javascript:void(0);">Legal Notice</a></li>
                    <li><a href="javascript:void(0);">English <i class="fa fa-angle-down"></i></a></li>
                     
                </ul>-->
                <ul class="social-ul">
                    <li><a target="_blank" href="https://www.facebook.com/cenesgroup"><i class="fa fa-facebook"></i></a></li>
                    <li><a target="_blank" href="https://twitter.com/cenesgroup"><i class="fa fa-twitter"></i></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/cenesapp/"><i class="fa fa-instagram"></i></a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/company/cenesgroup/"><i class="fa fa-linkedin"></i></a></li>
                
                </ul>
            </div>
        
        </div>
        <p>&nbsp;</p>
        <p class="text-center copyright-footer">Copyright © 2018 <span>CENES</span> All Rights Reserved </p>
    </div>
    
</footer>

 